.about {
  box-sizing: border-box;

  display: none;

  width: 100%;
  height: 100%;
  padding: 0 25px;

  overflow: auto;
  scroll-behavior: smooth;

  &--show {
    display: block;
  }
}

.about__title {
  margin: 0;
  padding: 0 0 20px 0;

  font-size: 20px;
  color: #1a1a1a;
}

.about__text {
  margin: 0;
  margin-bottom: 10px;
}

.about__list {
  margin: 0;
  //padding: 0;

  list-style: none;
}

.about__signature {
  margin: 20px 0;

  font-size: 18px;
  color: #1a1a1a;
}

@media (min-width: 768px) {
  .about__title {
    padding-top: 5px;
  }
}
