body {
  display: flex;

  min-width: 320px;
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;

  font-style: normal;
  font-size: @font-size;
  font-weight: normal;
  font-family: @font;
  line-height: normal;
  color: #373737;
  letter-spacing: 0.6px;

  background-color: #e7e7e7;
  background-image: linear-gradient(to right, #373737 50%, #e7e7e7 50%);
  overflow: hidden;
}

.body-img {
  position: absolute;
  bottom: 0;
  left: calc(50% + 660px);

  display: none;

  width: 50px;

  transform: translateY(-50px);
  filter: drop-shadow(-5px 10px 10px rgba(0, 0, 0, 0.5)) hue-rotate(126deg) brightness(0.85);
}

img {
  height: auto;
}

.wrapper {
  box-sizing: border-box;
  position: relative;

  width: 100%;
  height: 100%;
  max-width: 1200px;
  max-height: 100%;
  margin: auto;
  padding: 0;
  padding-top: 0;

  background-color: #e7e7e7;
  background-image: linear-gradient(to right, #373737 50px, transparent 50px);
  background-repeat: no-repeat;
  background-position: -50px;
  transition: background-position 0.4s ease;

  overflow: hidden;

  &--anim {
    //animation: wrapper-background 0.4s ease 1.4s both;
    background-position: 0;
  }

  &--open {
    background-position: -50px;
  }
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-wrap {
  box-sizing: border-box;

  //position: absolute;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 76px 0 48px;

  //transform: translateX(-100%);
  transition: transform 0.4s ease;

  overflow: hidden;

  &--show {
    //position: initial;

    //transform: translateX(0);
  }
}

.section-wrap .about,
.section-wrap .resume,
.section-wrap .works,
.section-wrap .contacts {
  transform: translateX(100%);
  transition: transform 0.4s ease;
}

.section-wrap--show .about,
.section-wrap--show .resume,
.section-wrap--show .works,
.section-wrap--show .contacts {
  transform: translateX(0);
}

.section-wrap .sidebar {
  transform: translateY(100%);
  transition: transform 0.4s ease;
  transition-delay: 0.4s;
}

.section-wrap--show .sidebar {
  transform: translateY(-48px);
  transition-delay: 0s;
}

.section-wrap--show .sidebar--show {
  transform: translateY(-100%);
}

.section-wrap__button-wrap {
  position: absolute;
  top: 14px;
  right: 16px;

  display: none;

  width: 48px;
  height: 48px;

  &--show {
    display: block;
  }
}

.section-wrap__button {
  position: relative;

  width: 100%;
  height: 100%;

  border: 0;
  border-radius: 0;
  background-color: transparent;
  transform: translateY(-200%);
  transition: 0.4s ease;
  cursor: pointer;

  &--show {
    transform: translateY(0);
    animation: 5s ease 5s section-button;
    animation-iteration-count: infinite;
  }

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 30px;
    height: 36px;

    background-color: #5f5f5f;
    transform: translate(-50%, -50%);
    transition: 0.4s ease;
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 50%);
  }

  &:hover,
  &:focus {
    animation: none;
  }

  &:hover::before,
  &:focus::before {
    background-color: #1dbfb0;
  }
}

@media (min-width: 568px) {
  .wrapper {
    background-image: linear-gradient(to right, #373737 216px, transparent 216px);
    background-position: -216px;

    &--anim {
      background-position: 0;
    }

    &--open {
      background-position: -216px;
    }
  }
}

@media (min-width: 768px) {
  .wrapper {
    background-image: linear-gradient(to right, #373737 300px, transparent 300px);
    box-shadow: -40px 40px 60px 0 #1a1a1a;
    background-position: -200px;

    &--anim {
      background-position: 0;
    }

    &--open {
      background-image: linear-gradient(to right, #373737 320px, transparent 320px);
    }
  }

  .section-wrap {
    flex-direction: row;

    transform: none;
  }

  .section-wrap .sidebar {
    transform: translateX(-100%);
  }

  .section-wrap--show .sidebar {
    transform: translateX(0);
  }
}

@media (min-width: 1400px) {
  .body-img {
    display: block;
  }
}

@keyframes section-button {
  0% {
    transform: translateX(0);
  }

  3% {
    transform: translateX(-6px);
  }

  6% {
    transform: translateX(2px);
  }

  9% {
    transform: translateX(-6px);
  }

  12% {
    transform: translateX(2px);
  }

  15%, 100% {
    transform: translateX(0);
  }
}
